body {
  background: 	#0000FF;
  text-align: center;
}

canvas {
  display: inline-block;
  max-width: 100vw;
  max-height: 85vh;
  cursor: -webkit-grab;
  cursor: grab;
  background:	#FF4500
}

canvas:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  background-color: 	#FF4500
}

.tengely {
  display: inline-block;
  margin: 20px 40px 0px;
  color: #00FF00;
  max-width: 50%;
}

.output {
  display: inline-block;
  width: 30px;
  
}

input[type="range"] {
  -webkit-appearance: none;
  display: inline-block;
  margin: 0 10px 15px;
}
